@import url(critical_styles.css);

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    width: 60rem;
  }

  #title {
    font-size: var(--medium-font-size);
  }
  a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.25s ease-in;
  }
  a:hover {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-color);
  }
  nav > div.nav-menu {
    display: flex;
    gap: 1.25rem;
  }
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: var(--light-font-weight);
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;

  img#me {
    width: 12.5rem;
    height: auto;
    object-fit: fill;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  #name {
    font-size: var(--huge-font-size);
    font-weight: var(--regular-font-weight);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .activity {
    font-weight: var(--light-font-weight);
  }

  #socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    svg {
      fill: var(--text-color);
      transition: all 0.25s ease-in;
    }
    svg:hover {
      fill: var(--link-color);
    }
  }
}

.current-page {
  font-weight: var(--bold-font-weight);
  /* text-decoration: underline; */
}

#theme-toggle,
#formal-informal-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem; /* Distance from the bottom of the viewport */
  padding: 0.3rem;
  border: none;
  border-radius: 3px;
  background-color: var(--button-background-color);
  cursor: pointer;
  z-index: 999;
  transition: all 0.25s ease-in;

  svg {
    fill: var(--theme-icon-color);
  }
}

#formal-informal-toggle {
  left: 1.5rem; /* Distance from the right of the viewport */
}

/* SECTION FOR HIDING STUFF WHILE IT IS A WIP */
/* ========================================== */
#formal-informal-toggle {
  border: none;
  background: transparent;
  color: transparent;
  svg {
    fill: #ffffff00;
  }
}
/* ========================================== */
.invisible {
  display: none;
  border: none !important;
  background: transparent !important;
  color: transparent !important;
  svg {
    fill: #ffffff00;
  }
}

#formal-informal-toggle:hover {
  background-color: var(--button-hover-background-color);

  svg {
    fill: var(--link-color);
  }
}

#theme-toggle {
  right: 1.5rem; /* Distance from the right of the viewport */

  svg {
    transform: rotate(var(--theme-icon-flip-degrees));
  }
}

#theme-toggle:hover,
#formal-informal-toggle:hover {
  background-color: var(--button-hover-background-color);

  svg {
    fill: var(--link-color);
  }
}

[initially-hidden='true'] {
  display: none;
}

br {
  display: block;
  margin-top: 2rem;
  content: ' ';
}

#section-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 2rem;

  h2 {
    font-weight: var(--regular-font-weight);
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  a.inline-link {
    color: var(--link-color);
    text-decoration: none;
    transition: all 0.8s ease-in;
  }

  a.inline-link:hover {
    text-decoration: underline;
  }

  #section-container {
    width: 100%;
    max-width: 60rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 1.5rem;
    text-align: justify;
    text-justify: auto;
    hyphens: auto;
  }

  #section-title-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    gap: 0.5rem;
  }

  #section-text {
    font-weight: var(--light-font-weight);
  }

  #section-title {
    font-size: var(--big-font-size);
    font-weight: var(--regular-font-weight);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .subsection {
    font-weight: var(--light-font-weight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    .subsection-title {
      font-size: var(--huge-font-size);
    }

    .subsection-link a {
      color: var(--link-color);
      text-decoration: none;
      transition: all 0.8s ease-in;
    }

    .subsection-link a:hover {
      text-decoration: underline;
    }
  }
}

#contact-title {
  font-size: var(--huge-font-size);
  font-weight: var(--regular-font-weight);
  margin-bottom: 0.5rem;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background: var(--link-color);
  background-image: -webkit-linear-gradient(
    top,
    var(--link-color),
    var(--link-second-color)
  );
  background-image: -moz-linear-gradient(
    top,
    var(--link-color),
    var(--link-second-color)
  );
  background-image: -ms-linear-gradient(
    top,
    var(--link-color),
    var(--link-second-color)
  );
  background-image: -o-linear-gradient(
    top,
    var(--link-color),
    var(--link-second-color)
  );
  background-image: linear-gradient(
    top,
    var(--link-color),
    var(--link-secondary-color)
  );
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  color: var(--background-color);
  width: 20%;
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--regular-font-weight);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

footer {
  display: block;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: 2rem;
  margin-bottom: 0.3rem;
  font-weight: var(--regular-font-weight);
}

@media (max-width: 768px) {
  header {
    #nav-menu {
      gap: 0;
    }
  }

  #content {
    img#me {
      width: 7rem;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    #name {
      font-size: var(--big-font-size);
    }
  }

  #contact-title {
    font-size: var(--big-font-size);
  }

  .subsection-title {
    /* notice !important - think we need it unlike for #name since we are targetting by class */
    font-size: var(--medium-font-size) !important;
  }

  .burger-icon {
    display: flex; /* Show burger icon */
    width: 30px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-icon .line {
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
  }

  .nav-menu {
    position: fixed;
    top: -100%; /* Start the menu above the viewport */
    left: 0;
    width: 100%; /* Full width */
    height: auto; /* Adjust height as needed */
    background-color: var(--background-color);
    border-top: 2px solid var(--burger-menu-border-color);
    border-bottom: 2px solid var(--burger-menu-border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 999; /* Ensure the menu is on top */
  }

  .nav-menu a {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .nav-menu.open {
    top: 4rem; /* Slide the menu down */
  }

  .burger-icon.open .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .burger-icon.open .line:nth-child(2) {
    opacity: 0;
  }

  .burger-icon.open .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
