body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #212121;
  color: #dadada;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  #title {
    font-size: 1.5rem;
  }
  a {
    transition: all 0.25s ease-in;
  }
  a:hover {
    color: #42a5f5;
    text-decoration: underline;
    text-decoration-color: #42a5f5;
  }
  nav {
    display: flex;
    gap: 1.25rem;
  }
  a {
    text-decoration: none;
    color: #dadada;
  }
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  img#me {
    width: 12.5rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  #name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1cap;
    margin-bottom: 0.5rem;
  }

  #socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    svg {
      fill: #dadada;
      transition: all 0.25s ease-in;
    }
    svg:hover {
      fill: #42a5f5;
    }
  }
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
